<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

  <application
      android:name=".JournalApplication"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="ManageExpenses"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/Theme.ManageExpenses"
      android:fullBackupContent="@xml/backup_descriptor"
      android:dataExtractionRules="@xml/data_extraction_rules"
      android:enableOnBackInvokedCallback="true"
      tools:targetApi="tiramisu">
    
    <activity
        android:name=".MainActivity"
        android:exported="true"
        android:windowSoftInputMode="adjustResize">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    
    <!-- Disable WorkManager's default initialization for better control -->
    <provider
        android:name="androidx.startup.InitializationProvider"
        android:authorities="${applicationId}.androidx-startup"
        android:exported="false"
        tools:node="merge">
      <meta-data
          android:name="androidx.work.WorkManagerInitializer"
          android:value="androidx.startup"
          tools:node="remove" />
    </provider>
    
  </application>

</manifest>